<div class="mb-3">
        
    <label for="countmin" class="form-label">Liczba Pracowników (min)</label>
    <input type="number" value="<%= query.countmin%>" class="form-control" name="countmin" id="countmin">

    <label for="countmax" class="form-label">Liczba Pracowników (max)</label>
    <input type="number" value="<%= query.countmax%>" class="form-control" name="countmax" id="countmax">
    
    <button class="btn btn-primary mt-3">Filtruj </button>

</div>